<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= render rating %> 
      <%= button_to 'delete', rating, 
                    method: :delete, 
                    data: { turbo_confirm: "Are you sure you want to delete rating for #{rating.beer.name}?" } %>
    </li>
  <% end %>
</ul>

<p><%= link_to "New rating", new_rating_path %></p>