<h2>Breweries</h2>

<table id="brewerytable" class="table table-hover">
  <thead>
    <tr>
      <th><a href="#" id="name" class="sort-link">Name</a></th>
      <th><a href="#" id="year" class="sort-link">Year</a></th>
      <th><a href="#" id="beers" class="sort-link">Beer count</a></th>
      <th><a href="#" id="active" class="sort-link">Active</a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
